.batle-container {
  display: grid;
  position: relative;
  justify-content: center;
  background: #333;
  border: 4px solid #555;
}

.battle-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--map-x), var(--batle-tile-size));
    grid-template-rows: repeat(var(--map-y), var(--batle-tile-size));
}

.arena-floor { background-color: #4caf50; }
.arena-rock { background-color: #795548; }

.arena-floor:hover{
  filter: brightness(1.2);
}

.tile {
  width: var(--batle-tile-size);
  height: var(--batle-tile-size);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tile.processing {
  position: relative;
}

.tile.processing::after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(255, 255, 0, 0.5);
  pointer-events: none;
  z-index: 2;
  animation: pulse 0.5s infinite alternate;
}

.unit {
  font-size: var(--unit-size);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--batle-tile-size);
  height: var(--batle-tile-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  transition: transform 1s ease-in-out;
  pointer-events: none;
  will-change: transform;
}

.hp-bar {
  width: var(--unit-size);
  height: 4px;
  background: #000;
  border: 1px solid #fff;
  margin-top: -5px;
}

.hp-fill {
  height: 100%;
  background: #ff0000;
  transition: width 0.3s;
}
