.batle-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(16, 50px); 
  grid-template-rows: repeat(8, 50px);
  background: #333;
  border: 4px solid #555;
}

.arena-floor { background-color: #4caf50; }
.arena-rock { background-color: #795548; }

.arena-floor:hover{
  filter: brightness(1.2);
}

.tile {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.unit {
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hp-bar {
  width: 30px;
  height: 4px;
  background: #000;
  border: 1px solid #fff;
  margin-top: -5px;
}

.hp-fill {
  height: 100%;
  background: #ff0000;
  transition: width 0.3s;
}