@if (!socketService.currentUser()) {
  <div class="login-overlay">
    <div class="login-card">
      <h2>Login</h2>
      <p>Enter your name</p>
      
      <input #nameInput 
             (keyup.enter)="onLogin(nameInput.value)"
             type="text" 
             placeholder="Name...">
             
      <button (click)="onLogin(nameInput.value)">Start journey</button>
    </div>
  </div>
}

<div class="game-wrapper">
  <div class="title-container">
    <h1 class="game-title">{{ title }}</h1>
  </div>
  <main>

    <app-inventory></app-inventory>

    <button class="open-btn" (click)="goToMap()">
        {{ isOpenMap() ? "Return to chat" : "Go to map"}}
    </button>

    @if (gameState.isBatle().valueOf()) {
      <app-batle></app-batle>
    }
    @else if(isOpenMap()){
      <app-world-map></app-world-map>
    }
    @else {
      <app-comunication></app-comunication>
    }
  </main>
</div>