<button class="open-btn" (click)="mapService.rebuildMap()">
    Rebuild map
</button>

<div class="map-container">
  <div class="grid">
    @for (row of mapService.map(); track $index; let x = $index){
      @for (tile of row; track $index; let y = $index) {
        @if (!tile.isVisible) {
          <span class="fog"></span>
        }
        @else {
          <div 
            class="tile" 
            [class]="tile.type"
             
            [class.visited]="tile.status === 'visited'"
            [class.processing]="tile.status === 'processing'"
            
            (click)="onTileClick({x ,y})"
            (keydown.enter)="onTileClick({x ,y})">

            @if (tile.content) {
              <span class="content-icon">{{ tile.content.icon }}</span>
            }
          </div>
        }
      }
    }
    <div 
      class="hero"
      [style.transform]="heroStyle()"
      [style.transition]="'transform '+ transitionDuration + 's'">
      <img src="hero.png" alt="Hero" class="hero-image">
    </div>
  </div>
</div>
