<div class="map-container">
  <div class="grid">
    @for (tile of mapService.map(); track $index) {
      <div 
        class="tile" 
        [class]="tile.type"
        (click)="onTileClick($index)"
        (keydown.enter)="onTileClick($index)"
      >
        @if (tile.content) {
          <span class="content-icon">{{ tile.content.icon }}</span>
        }

        @if (heroPosition() === $index) {
          <div class="hero">🏇</div>
        }
      </div>
    }
  </div>
</div>

<div class="info-panel">
  <p>Click to move</p>
</div>
