<div class="lobby-container">
  <h2>Игроки в сети ({{ socketService.onlineUsers().length }})</h2>
  
  <div class="user-list">
    @for (user of socketService.onlineUsers(); track user) {
      <div class="user-card">
        <span>● {{ user }}</span>
        <button (click)="challengePlayer(user)">Вызвать на дуэль</button>
      </div>
    }
  </div>

  <div class="login-box" *ngIf="!isLoggedIn">
    <input #nameInput placeholder="Ваше имя...">
    <button (click)="start(nameInput.value)">Войти</button>
  </div>
</div>